@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@font-face {
  font-family: "Glass Houses";
  src: local("Glass Houses"),
  url("./fonts/glashou.ttf") format("truetype");
}

.font_glass, h1, h2, h3, h4, h5, h6 {
  font-family: "Glass Houses";
}

body,html {
  margin:0;
  padding:0;
}

body {
  font-family: 'PT Serif';
  color: black;
  background-image: url("./images/meuco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color:red;
  text-decoration: none;
  transition:0.3s;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
header .section {
  background: transparent;
}

.section {
  background-color:#fff;
  background-image: url('./images/assets/texture_light3.jpg');
  background-repeat: repeat;
  color:#000;
  padding:35px 25px;
  margin:0;
  text-align:center;
}

.section_dark.section {
  background-color:#000;
  background-image: url('./images/assets/texture_dark.jpg');
  background-repeat: repeat;
  color:#fff;
}

.section_inner {
  margin: 50px 0 100px 0;
}

.section h2, .section h3, .section h4 {
  background-color:rgba(255, 255, 255, 0.5);
}

.section_dark.section h2, .section_dark.section h3, .section_dark.section h4 {
  background-color:rgba(0, 0, 0, 0.5);
}


#container {
  width:100%;
  overflow:hidden;
  margin-top:5%;
}

#header {
  min-height:300px;
  color:white;
}

#header_inner {

}

#header_inner_text {

}

.header_title {
  font-size:5em;
  margin:0;
  padding:5% 5% 1% 5%;
}

.header_tagline {
  margin:0;
  padding:0 5% 5% 5%;
  font-size:1.5em;
}

#menu {
  background-color: red;
  padding:5px;
  font-size:1.2em;
  position:fixed;
  top:0;
  width:100%;
}
/*
* center for over 900px
*/
#menu_bar {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width:1000px;
  margin:0 auto;
  padding:0 5px;
}

/*
* main menu
*/
#menu_inner {
  display:none;
  text-align:center;
}

/*
* adjust to center 900px for larger screens
*/
#menu_mobile_button {
  width:100%;
  display:flex;
  justify-content: right;
}

/*
* adjust to center 900px for larger screens
*/
#menu_title_wrapper {
  width:100%;
  display:flex;
  justify-content: left;

}

.menu_title {
  color: white;
}

.menu_button_wrapper {
  display:inline-block;
}

.menu_button_wrapper a {

}

.menu_button {
  color: white;
  border: 1px solid white;
  background-color:transparent;
  padding: 10px;
  margin: 5px 5px 4px 5px;
  text-align:center;
  transition: 0.5s;
  display:inline-block;
}

#menu button:hover, #menu a:hover {
  background-color:white!important;
  color:red;
  text-decoration:none!important;
  cursor:pointer;
}
/*
* Hide contact menu item and area
*/
.menu_button_wrapper_contact, #contact {
  /*display:none;*/
}

/*
#content {
  display:flex;
  align-items: stretch;
}
*/
/*
* small screens
*/
#content {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content_left {
  max-width:1000px;
  margin:10px auto 100px auto;
  overflow:hidden;
}

.content_left_inner {

}

#content_right {
  max-width:600px;
  margin:10px auto 100px auto;
}

.content_right_img {
  width:100%;
  display:inline-block;
  margin:10px auto;
}

@media screen and (max-width: 550px) {
  .section_inner div .videoWrapper iframe {
    width:280px;
    height:157px;
  }
}

/*
* Tickets
*/

.ticket {
  max-width:38%;
}

#flyer2022 {
  width:100%;
  max-width:600px;
}

/* 
* Old HAGL flyers
*/

#oldFlyers {
  /*
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  */
  text-align: center;
}

.oldFlyerWrapper {
  border: 5px solid transparent;
  width: 190px;
  height: 300px;
  display: inline-block;
}

.oldFlyer {
  width:100%;
}

.info_inner_section {
  max-width:1000px;
}

#bottom {
  min-height:200px;
}
/*
.bottom_img {
  background-image: url("./images/meuco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
  position:fixed;
  bottom:0;
  width:100%;
  z-index: -3;
}
*/
#footer {
  background-color:red;
  width:100%;
  bottom:0;
  /*
  position:fixed;
  z-index:150;
  */
  color:white;
  text-align:center;
}

#footer_inner {
  padding:10px;
}

#footer_cred {
  margin: 0;
}

#footer a {
  color:white;
  text-decoration: underline;
}

/*
*
* BAND LOGOS
*
*/

#lineUp_container {
  text-align:center;
}

#lineUp {
  display:flex;
  width:100%;
  flex-wrap:wrap;
  justify-content: center;
}

.band_container {
  max-width:333px;
  margin:10px;
  padding:10px 0;
}

.band_logo {
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width:100%;
  min-height:100px;
}

#toytiger {
  background-image: url("./images/logos/toy_tiger.png");
}

#crosshairs {
  background-image: url("./images/logos/crosshairs.png");
}

#schedule1 {
  background-image: url("./images/logos/schedule1.png");
}

#terminalcityrats {
  background-image: url("./images/logos/terminal_city_rats.png");
}

#bétonarmé {
  background-image: url("./images/logos/beton_arme.png");
}

#forcemajeure {
  background-image: url("./images/logos/force_majeure.png");
}

#kominternsect {
  background-image: url("./images/logos/komintern_sect.png");
}

#adrenochrome {
  background-image: url("./images/logos/adrenochrome.png");
}

#themoor {
  background-image: url("./images/logos/the_moor.png");
}

#voltage {
  background-image: url("./images/logos/voltage.png");
}

#deadwolff {
  background-image: url("./images/logos/deadwolff.png");
}

#metalian {
  background-image: url("./images/logos/metallian.png");
}

#smuther {
  background-image: url("./images/logos/smuther.png");
}

#hope {
  background-image: url("./images/logos/hope.png");
}

#manofico {
  background-image: url("./images/logos/manofico.png");
}

#phane {
  background-image: url("./images/logos/phane.png");
}

#fractured {
  background-image: url("./images/logos/fractured.png");
}

#vaxine {
  background-image: url("./images/logos/vaxine.png");
}

#löckheed {
  background-image: url("./images/logos/lockheed.png");
}

#oipolloi {
  background-image: url("./images/logos/oi_polloi.png");
}

#disposal {
  background-image: url("./images/logos/disposal.png");
}

#hellbender {
  background-image: url("./images/logos/hellbender.png");
}

#siegefire {
  background-image: url("./images/logos/siege_fire.png");
}

#hellishinferno {
  background-image: url("./images/logos/hellish_inferno.png");
}

#warkrusher {
  background-image: url("./images/logos/warkrusher.png");
}

#languid {
  background-image: url("./images/logos/languid.png");
}

#brutalize {
  background-image: url("./images/logos/brutalize.png");
}

#krigsulvar {
  background-image: url("./images/logos/krigsulvar.png");
}

#horrendous3d {
  background-image: url("./images/logos/horrendous3d.png");
}

#frantic {
  background-image: url("./images/logos/frantic.png");
}

#collapsed {
  background-image: url("./images/logos/collapsed.png");
}

#endresult {
  background-image: url("./images/logos/end_result.png");
}

#warplague {
  background-image: url("./images/logos/war_plague.png");
}

#sexdwarf {
  background-image: url("./images/logos/sex_dwarf.png");
}

#deadcells {
  background-image: url("./images/logos/deadcells.png");
}